@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
/*Reset*/
*{
    margin: 0;
    padding: 0;
}
/*Quitarle el subrayada*/
a {
    text-decoration: none;
}
/*Cambiar fuente*/
h1, h2{
   font-family: 'Lobster',cursive;
}
head title{
    font-family: 'Dancing Script',
    cursive;
}
/*Estilo para el nav*/
nav{
    background:#3f85df;
    width: 100vw;
    height: 80px;
}
nav h1,nav a {
    color:white;
    font-size: 36px;
    }

nav ul li {
    background: rgba(255,255,255,0.5);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: solid 1px #707070;
    display: inline-block;
}
nav h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 0;
    font-weight: normal;
}

nav li.active{
    background:  rgba(0,0,0,0.5);
}
nav h1{
    display: none;
}

aside img{
    width: 800px;
    height: 500px;
}
 div{
    display: inline;
    padding:10px;
    margin: 10px;
}
img{
    display: flex;
    padding-right: 10px;
    margin-right: 25px;
    
}

span{
    padding-right: 10px;
}

nav ul{
    display: flex;
}
nav ul li{
    flex: 1;
}
ul li{
    display:flex;
    margin-right: 20px;
    margin-left: 10px;

}
.size{
font-size: 30px;
width: 50%;
line-height: 20px;
margin-bottom: 30px;
}